
.delay-1{
  animation-delay: 100ms;
}

.delay-2{
  animation-delay: 250ms;
}

.delay-3{
  animation-delay: 400ms;
}

.delay-4{
  animation-delay: 550ms;
}

.delay-5{
  animation-delay: 700ms;
}

